*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.m-brand{
    font-family: fantasy !important;
    font-weight: 900;
    color: rgba(160, 29, 29, 0.573);

}

.recipe-image{
    width: 300px;
    
}

.recipe-container{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#recipesList{
    list-style: none;
}
.recipe-card{
    width: 300px;
    height: 400px;
}

.w-80 {
    width: 80% !important;
  }

@media screen and (max-width: 768px){
    #top-panel{
        display: flex;
        flex-direction: column-reverse;
    }

    #top-left-panel{
        width: 100%;
    }

    #top-left-panel > div{
        margin-left: 15px;
    }

    #image-wrap{
        width: 100vw;
        padding: 0;
        margin: 0;
    }

    #lower-panel{
        display: flex;
        flex-direction: column;
        width: 100%;
       
    }

    #lower-left-panel, #lower-right-panel{
        width: 100%;
        margin: 10px auto;
    }

    #ingredients{
        margin-left: 15px;
        padding: 5px;
    }
}