*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

  html {
    scroll-behavior: smooth;
  }

.m-brand{
    font-family: fantasy !important;
    font-weight: 900;
    color: brown;
    
}

.recipe-image{
    width: 300px;
    
}

.recipe-container{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#grid{
    margin-top: 20px;
    row-gap: 15px;
}

h1#recipe-count {
    margin-top: 60px;
    padding-left: 10px;
}


#recipesList{
    list-style: none;
}
.recipe-card{
    width: 300px;
    height: 400px;
}

.card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  }

  h5.card-title {
    color: brown;
    font-weight: 900;
}
  

.w-80 {
    width: 80% !important;
  }

  #image-wrap {
    width: 22rem;
    height: 22rem;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }

  #image-wrap:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
    transform: translateY(-5px);
  }

  img#recipeImage {
    border-radius: 10px;
}

.btn{
    transition: transform 0.3s ease-in-out;
}

.btn:hover{
    background-color: brown;
    color: wheat;
}

#page-title{
    color: brown;
    font-weight: 900;
}


#bottom-arrow{
    background-color: brown;
    color: wheat;
}

#bottom-arrow:hover{
    background-color: wheat;
    color: brown;
}


@media screen and (max-width: 768px){
   
    #top-panel{
        display: flex;
        flex-direction: column-reverse;
    }

    #top-panel > div{
        width: 100%;
    }

    #top-left-panel > div{
        margin-left: 15px;
    }

    #image-wrap{
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }

    #lower-panel{
        display: flex;
        flex-direction: column;
        width: 100%;
       
    }

    #lower-left-panel, #lower-right-panel{
        width: 100%;
        margin: 10px auto;
    }

    #ingredients{
        margin-left: 15px;
        padding: 5px;
    }

    #bottom-btn-cont{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    h1#recipe-count{
        margin-top: 100px !important;
    }

}